@model IHVNMedix.DTOs.EncounterDto

@{
    ViewData["Title"] = "Input Symptoms";
}

<h1>Input Symptoms</h1>

<h4>Encounter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InputSymptoms">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" /> <!-- Add a hidden field for Id -->
            <div class="form-group">
                <label asp-for="EncounterDate" class="control-label"></label>
                <input asp-for="EncounterDate" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="SelectedSymptoms" class="control-label">Select Symptoms</label>
                <select asp-for="SelectedSymptoms" asp-items="@Model.YourListOfSymptoms" class="form-control" multiple></select>
                <span asp-validation-for="SelectedSymptoms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
