@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IHVN Medical Diagnosis App</h1>
</div>
<div class="text-center">
    <a href="@Url.Action("Create", "Patients")" class="btn btn-primary">Register a New Patient</a>
</div>
<br />
<div class="text-center">
    <a href="@Url.Action("Create", "Encounters")" class="btn btn-primary">Create an Encounter</a>
</div>
<br />
<div class="text-center">
    <a href="@Url.Action("Create", "Appointments")" class="btn btn-primary">Book Appointment</a>
</div>
